name: 02 release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
      id-token: write
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          show-progress: false

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 #v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Create settings.xml
        uses: whelk-io/maven-settings-xml-action@9dc09b23833fa9aa7f27b63db287951856f3433d #v22
        with:
          repositories: '[{ "id": "github", "name": "github", "url": "https://maven.pkg.github.com/navikt/xerces-xmlschema-1.1", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }]'
          servers: '[{ "id": "github", "username": "${{ github.actor }}", "password": "${{ secrets.GITHUB_TOKEN }}" }]'

      - name: Configure git user
        run: |
          git config user.name "GitHub Actions Bot (${ACTOR})"
          git config user.email "actions@github.com"
        env:
          ACTOR: ${{ github.actor }}

      - name: Publish
        run: |
          mvn --batch-mode deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: report to slack
        if: always()
        uses: navikt/eresept-actions/slack-notify@main
        with:
          status: "${{ job.status }}"
          username: "release ${{ env.appver }}"
          icon: ":github:"
          title-success: "Successfully released _*${{ github.event.repository.name }}*_"
          title-failure: "Release of _*${{ github.event.repository.name }}*_ failed"
          title-cancelled: "Release of _*${{ github.event.repository.name }}*_ was cancelled"
          message-success: "Successfully released _*${{ github.event.repository.name }}*_"
          webhook: ${{ secrets.SLACK_WEBHOOK }}
